<!doctype html>
<html lang="{{ .Site.Params.HTMLLangCode  }}">
  {{ partial "head.html" . }}
<body>
  <main id="main">
  <div class="content">
    {{ partial "header.html" . }}
    <section class="list-container">
      <ul reversed class="list">
        {{ range (.Paginate ( where .Site.RegularPages "Section" "posts" ).ByDate.Reverse).Pages }}
          {{ if ne .Kind "section" }}
          {{ .Render "li" }}
          {{ end }}
        {{ end }}
      </ul>
    </section>
    {{ partial "footer.html" . }}
  </div>
</main>
</body>
</html>
